@import 'src/styles/variables.scss';

.job {
    h2 {
        margin-bottom: 30px;
    }

    h3 {
        margin-bottom: 50px;
    }

    h4 {
        margin-bottom: 30px;
        text-transform: uppercase;
    }

    ul {
        list-style: inside;
        margin-bottom: 15px;
    }

    .job-description {
        display: flex;
        gap: 40px;
        margin-bottom: 50px;

        @media(max-width: $large) {
            flex-wrap: wrap;
        }
    }

    .contact {
        margin-top: 30px;
        span {
            color: $pink;
        }
    }
}
