$yellow: #FEC12B;
$pink: #FF007D;
$green: #246900;
$red: #AB0000;

$black: #000000;
$white: #FFFFFF;

$text: #464646;
$bg-fill: #FAFAFA;
$btn: #FEECAC;

$drop-shadow: drop-shadow(3px 5px 8px rgba(0, 0, 0, 0.2));

$small: 425px;
$medium: 960px;
$large: 1280px;