@import 'src/styles/variables.scss';

.main {
    overflow-x: hidden;
    position: relative;
}

.main > .description {
    
    .description-images {
        position: relative;
        min-height: 1500px;

        @media (max-width: 1500px) {
            min-height: 1400px;
        }

        @media (max-width: 1300px) {
            min-height: 1300px;
        }

        @media (max-width: 1100px) {
            min-height: 1100px;
        }

        @media (max-width: 900px) {
            min-height: 1000px;
        }

        @media (max-width: 700px) {
            min-height: 800px;
        }

        @media (max-width: 600px) {
            min-height: 700px;
        }

        @media (max-width: $small) {
            min-height: 500px;
        }

    }

    .img {
        position: absolute;

        img {
            width: 100%;
            height: auto;
        }
    }

    .img:nth-of-type(1) {
        left: -15%;
        top: 5%;

        img {
            max-width: 70vw;
        }
    }

    .img:nth-of-type(2) {
        right: 5%;

        img {
            max-width: 40vw;
        }
    }

    .img:nth-of-type(3) {
        left: 40px;
        bottom: 5%;

        img {
            max-width: 70vw;
        }
    }

    .img:nth-of-type(4) {
        right: -5%;
        bottom: 0;


        img {
            max-width: 40vw;
        }
    }

    .description-text {
        max-width: 530px;
        margin-left: 18%;

        @media (max-width: $large) {
            margin-left: 40px;
        }

        @media (max-width: $medium) {
            margin-left: 0;
        }

        p {
            margin-bottom: 60px;

        }
    }

    .description-text-mid {
        position: absolute;
        right: 0;
        top: 42%;
        max-width: 450px;

        @media (max-width: $medium) {
            top: 44%;   
        }

        @media (max-width: $small) {
            right: auto;
            left: 25%;
            top: 40%;
            max-width: 367px;

        }
    }
}

.main > .beer-box {
    .img-desk {
        position: relative;
        width: 110vw;
        left: -30vw;
        top: -200px;

        @media (max-width: 2500px) {
            left: -25vw;
            top: -200px;
        }

        @media (max-width: 2000px) {
            left: -20vw;
            top: -50px;
        }

        @media (max-width: 1750px) {
            left: -10vw;
            top: -50px;
        }

        @media (max-width: $large) {
            top: 0;   
            left: -6%;
        }

        @media (max-width: 700px) {
            display: none;
        }
    }

    .img-mob {
        display: none;

        @media (max-width: 700px) {
            display: block;
            width: calc(100vw + 20px);
            position: relative;
            right: 20px
        }
    }

    .btn-about {
        text-align: center;
        margin-top: 10px;

        @media (max-width: $large) {
            margin-top: 50px;
        }
    }
}

.main .bg-beer {
    position: absolute;
    bottom: 5%;
    right: -10%;
    height: 770px;
    z-index: -10;

    @media (max-width: $large) {
        right: -15%;
        height: 600px;
    }

    @media (max-width: $medium) {
        right: -20%;
        height: 420px;
    }

    @media (max-width: $small) {
        right: -40%;
    }
}
