@import 'src/styles/variables.scss';

.sorts {
    &__content {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        column-gap: 10px;


        .filters {
            grid-column: 1 / 4;

            display: flex;
            flex-direction: column;
            row-gap: 20px;
        }

        .sorts-list {
            grid-column: 4 / -1;
        }

        @media(max-width: $large) {
            display: flex;

            .filters {
                position: absolute;
                transition: all 0.2s;
                opacity: 0%;
                visibility: hidden;
            }

            .sorts-list {
                grid-column: 1 / -1;
                width: 100%
            }
        }
    }
}

.filters {
    position: relative;
    top: 50px;
    padding: 30px 50px;
    background-color: $white;

    @media(max-width: $large) {
        position: absolute;
        transition: all 0.2s;
        opacity: 0%;
        visibility: hidden;
        z-index: 1000;
        right: 40px;
        top: 40px;
        padding: 20px 40px;

        &.filters-shown {
            visibility: visible;
            opacity: 100%;
        }
    }

    .filters-close {
        display: none;

        @media(max-width: $large) {
            position: absolute;
            display: block;
            right: 10px;
            top: 10px;
            cursor: pointer;
        }

    }

    &__item {
        .list {
            margin-left: 30px;
            display: flex;
            flex-direction: column;
            row-gap: 10px;
        }

        .title {
            margin-bottom: 10px;
        }

        .radio-block label{
            display: flex;
            align-items: center;
        }

        .radio {
            position: absolute;
            z-index: -1;
            opacity: 0;
        }

        .radio+label::before {
            content: '';
            position: relative;
            top: 30%;
            display: inline-block;
            width: 20px;
            height: 20px;
            flex-shrink: 0;
            flex-grow: 0;
            border: 1px solid $black;
            border-radius: 0.5em;
            margin-right: 10px;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 50% 50%;
            transition: all 0.2s;
        }

        .radio:checked+label::before {
            border-color: $black;
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='currentColor' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
        }

        .radio:not(:disabled):not(:checked)+label:hover::before {
            border-color: #adb5bd;
        }

        .radio:focus+label::before {
            box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
        }

        .radio:focus:not(:checked)+label::before {
            border-color: #adb5bd;
        }
    }
    
}

.sorts-list {
    .title {
        margin-bottom: 30px;
        display: flex;
        justify-content: space-between;

        .filter-btn {
            display: none;
            cursor: pointer;
        
            @media(max-width: $large) {
                display: block;
            }
        }
    }

    .list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;

        @media(max-width: $medium) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media(max-width: 540px) {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    .list__item {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 12px;
        padding: 30px 10px;
        background-color: #FAFAFA;

        .title {
            display: flex;
            flex-direction: column;
            row-gap: 5px;
            text-align: center;

            position: relative;
            z-index: 10;
        }

        .description {
            display: flex;
            flex-direction: column;
            row-gap: 10px;

            span {
                font-size: 16px;
            }
            
            p {
                font-size: 14px;
                color: $text;

                @media(max-width: $small) {
                    font-size: 12px;
                }
            }

        }

        .beer-image {
            position: relative;
            z-index: 10;
        }

        .style-cover {
            position: absolute;
            width: 100%;
            top: 0;
            left: 0;
            right: 0;
        }
        
    }
}

.sorts .cover {
    display: flex;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.5);

    visibility: hidden;
    opacity: 0%;
    transition: opacity 0.2s;
    overflow-x: hidden;

    &.cover-shown {
        opacity: 100%;
        visibility: inherit;
    }

    @media (min-width: $large) {
        display: none;
    }
}

.sorts {
    position: relative;
    overflow-x: hidden;
}

.sorts .bg-beer {
    position: absolute;
    top: 10%;
    right: -5%;
    height: 770px;
    z-index: -10;

    @media (max-width: $large) {
        display: none;
    }
}